<!DOCTYPE html>
<html>
<head>
  <title>CineBooking</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<% if @current_user.user? %>
  <%= render partial: "layouts/user/header" %>
  <div style="padding-top:130px;padding-bottom:30px">
    <%= yield %>
  </div>
  <%= render partial: "layouts/user/footer" %>
<% else %>
  <div style="padding-top:130px;padding-bottom:30px">
    <%= yield %>
  </div>
<% end %>
</body>
</html>
